*
!.gitignore
!agent.js
!agent-arm64.js
!go.mod
!go.sum
!main.go
!README.md
!utils/
!utils/*
!amdl
!build.sh
!main_test.go
!utils/runv2/*
!utils/runv2/
!utils/runv2/runv2_test.go
!utils/ampapi/
!utils/ampapi/*
!utils/ampapi/token_test.go
